body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to top right, #abeeee 37%, #002a66 100%);
  height: -webkit-fill-available;
  min-height: 100%;
}

html {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#footer {
  position:relative;
  bottom:-0vh;
  left: 0;
  right:0;
}

#root {
  position: relative;
}

@media screen and (max-width: 480px) {
  .phoneColumn {
    flex-direction: column;
  }

  .chatColumn {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .chatColumn > div {
    width: 100% !important;
  }
  .caro-head {
    font-size: 1rem !important;
  }

  .weekday {
    display: none;
  }

  .plan {
    width: 100%;
    height: 1%;
  }

  .plan-details {
    flex-direction: column;
  }
}